* {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}


body {
  font-size: 15px;
}

@font-face {
    font-family : "PlayfairDisplay-Bold";
    src : url('font/PlayfairDisplay-Bold.otf');
    }

p {
}

.transition {
	-moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}



.today {
  color: #ff4d00;
}


header {
  text-align: right;
}
header a {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  padding: 1px 5px 1px 5px;
  margin: 3px;
}

section {
  display: flex;
}

aside {
  max-width: 250px;
  padding: 5px;
}
aside p {
  margin: 5px 0 5px 0;
}
aside a {
  color: #068bff;
  text-decoration: none;
}
aside .semester {
  text-align: right;
}
main {
  flex: 1;
  display: grid;
  grid-template-rows: [main-start header-start] 1fr 1fr[header-end main-end];
  grid-auto-rows: 3fr;
  grid-gap: 3px;
  grid-template-columns: repeat(8, 1fr);
}

main.inverted {
  grid-template-columns: [main-start header-start] 1fr 1fr[header-end main-end];
  grid-auto-columns: 2fr;
  grid-gap: 3px;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
}

.inverted section {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
}


main div {
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;

}
abbr[title] {
  border: none;
  text-decoration: none;
}

.content {
  border: 1px solid #ff4d00;
  background: none;
}

/* x < 640 */
@media screen and (max-width: 640px) {
.jours {
  font-size: 0;
}

.jours abbr:after {
  content: attr(title);
  font-size: 15px;
}

.dates {
  font-size: 0;
}

.dates abbr:after {
  content: attr(title);
  font-size: 15px;
}

}


/* 640 < x < 1024 */
@media screen and (min-width: 640px) and (max-width: 1024px) {

}

/* x > 1024 */
@media screen and (min-width: 1024px) {
	#menu_gauche {
		width: 18%;
	}
	article {
		margin-left: 18%;
	}
}